
<div class="demo-container">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
            <h4 align="center">
                Block / Activate Account
            </h4>
        </div>
        <div class="modal-body">
            <div class="clearfix">
            	<button class="btn btn-xs btn-danger pull-left" ng-click="block()">
            	    Block
            	    <i class="fa fa-block">
            	    </i>
            	</button>

                <button class="btn btn-xs btn-success pull-right" ng-click="activate()">
                    Activate
                    <i class="fa fa-check">
                    </i>
                </button>
                
            </div>
        </div>
    </div>
</div>
 