<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">List of all member</h3>
                <div class="work-progres">
                <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                    <div class="table-responsive">
                        <table class="table table-hover">
                             <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Amount</th>
                                <th>Tenure</th>
                                <th>Payment made</th>
                                <th>Repayment left</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="loan in loans | filter:search">
                                <td ng-bind="$index + 1"></td>
                                <td ><span ng-bind="loan.name"></span> </td>
                                <td ng-bind="loan.phone"></td>
                                <td>&#8358; {{loan.amount | number}}</td>
                                <td>{{loan.tenure}} months</td>
                                <td>&#8358; {{loan.payment_made || 0}}</td>
                                <td>&#8358; {{repayment_left | number}}</td>
                                <td ng-bind="loan.start_date"></td>
                                <td ng-bind="loan.end_date"></td>
                                <td ng-bind="loan.status"></td>
                                <td>
                                <td>  <button ng-click="open_loan(loan, $index)" class="btn btn-xs btn-primary">Update Loan Amount<i class="fa fa-check"></i></button>

                                 <button ng-if="loan.user_alert" ng-click = "open_doc(loan)" class="btn btn-xs btn-primary">View Document<i class="fa fa-book"></i></button>

                                </td>

                                 
                                  

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->