<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">List of all saved cards</h3>
                <div class="work-progres">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Number</th>
                                <th>Month</th>
                                <th>Year</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="card in cards">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="card.number"></td>
                                <td ng-bind="card.month"></td>
                                <td>20{{card.year}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->