
    <div class="modal-header" style="background-color: #BCB8C2; color: #FFF;">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span>
        </button>
        <h4 align="center" class="modal-title" id="myModalLabel">Enter Loan Amount </h4>
    </div>
    <div class="modal-body" style="overflow: auto; background-color: #EEEEEE;">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel-body" style="background-color: #ffffff;">


                    <form name="myInput" novalidate >


                       <div class="form-group">

                        <label ng-if="loan.status === 'pending' " class="control-label col-md-4 col-sm-4 col-xs-12">
                            Amount <span class="required">*</span>
                        </label>
                        <div ng-if="loan.status === 'pending' " class="col-md-8 ol-sm-8 col-xs-12">
                            <input type="text" ng-trim="false" class="form-control col-md-7 col-xs-12" ng-required="true" ng-model="loan.amount" />
                        </div>
                        <br><br>
                        <!-- <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="loan-dob">Repayment Start Date <span class="required">*</span>
                            </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                        <div class="input-group">
                                                <input ng-trim="false" autocomplete="off" class="form-control" placeholder="Choose a date" ng-model="loan.start_date" />
                                                <span class="input-group-addon" style="cursor: pointer">
                                                 <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                         </div>
                                     </datepicker>
                                </div>
                            <div class="clearfix"></div>
                        </div> -->
                        <!-- <br><br>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="loan-dob">Repayment Due Date <span class="required">*</span>
                            </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                        <div class="input-group">
                                                <input ng-trim="false" autocomplete="off" class="form-control" placeholder="Choose a date" ng-model="loan.end_date" />
                                                <span class="input-group-addon" style="cursor: pointer">
                                                 <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                         </div>
                                     </datepicker>
                                </div>
                            <div class="clearfix"></div>
                        </div> -->
                 </div>

                 <div class="form-group">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                        <button type="button" class="btn btn-primary"  ng-click="Submit(loan)">Update Loan</button>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
</div>
