 <!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_grids-->
        <div class="agile_top_w3_grids">
            <ul class="ca-menu">

                <li>
                    <a href="#/member">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main one">{{member_count}}</h4>
                            <h3 class="ca-sub one">Members</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#/investment">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main two">{{investment_count}}</h4>
                            <h3 class="ca-sub two">Investments</h3>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="#/investment">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main">&#8358; {{total_invest_amount | number}}</h4>
                            <h3 class="ca-sub">Total Investment Amount</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#/loan">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main three">&#8358; {{total_loan_amount | number }}</h4>
                            <h3 class="ca-sub three">Total Loan Amount</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#/loans/pending">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main four">{{loan_count}}</h4>
                            <h3 class="ca-sub four">Loans</h3>
                        </div>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <!-- //agile_top_w3_grids-->
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">New Withdrawal</h3>

                <div class="work-progres">
                    <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Phone</th>
                                <th>Account Name</th>
                                <th>Account</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in withdrawal | filter:search">
                                <td ng-bind="$index + 1"></td>
                                <td> {{data.user.phone}}</td>
                                <td>{{data.user.account_name}}</td>
                                <td> {{data.user.account_number}}</td>
                                <td> {{data.user.bank_name}}</td>
                                <td>&#8358; {{data.amount | number}}</td>
                                <td>{{data.payout_status}}</td>
                                <td>
                                    <button ng-click = "open_warning(data)" class="btn btn-xs btn-primary">Process<i class="fa fa-check"></i></button>
                                    <button ng-click = "message(data.user)" class="btn btn-xs btn-primary">Send Message<i class="fa fa-check"></i></button>
                                    <!-- <button  ng-click="approve()" class="btn btn-xs btn-success">Approve<i class="fa fa-check"></i></button>

                                    <button ng-click="decline()" class="btn btn-xs btn-danger">Decline<i class="fa fa-times"></i></button>
                                    <button ng-click="message(data.user)" class="btn btn-xs btn-primary"> Send Message </button>-->

                                    <a ng-if="data.loan.screenshot" href="/Doc/{{data.loan.screenshot}}"> <img width="40" height="30" ng-src="/Doc/{{data.loan.screenshot}}" alt=""> </a>
                                    <button ng-if="data.user.user_alert" ng-click = "open_doc(data)" class="btn btn-xs btn-primary mt-2">View Document<i class="fa fa-book"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content
