<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">List of Declined loans</h3>
                <div class="work-progres">
                    <div class="table-responsive">
                    <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Amount</th>
                                <th>Tenure</th>
                                <th>Payment made</th>
                                <th>Repayment left</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="loan in loans | filter:search">
                                <td ng-bind="$index + 1"></td>
                                <td ><span ng-bind="loan.user.firstname"></span> <span ng-bind="loan.user.lastname"></span></td>
                                <td ng-bind="loan.user.phone"></td>
                                <td>&#8358; {{loan.amount | number}}</td>
                                <td>{{loan.tenure}} months</td>
                                <td>&#8358; {{loan.payment_made || 0}}</td>
                                <td>&#8358; {{loan.repayment_left | number}}</td>
                                <td ng-bind="loan.start_date"></td>
                                <td ng-bind="loan.end_date"></td>
                                <td ng-bind="loan.status"></td>
                                <td>
                                    <button ng-click="openDeclineReason(loan.decline_message)" class="btn btn-sm btn-primary">
                                    Decline Message<i class="fa fa-check"></i> 
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <uib-pagination total-items="totalItems" ng-model="currentPage" force-ellipses="true" ng-change="pageChanged()"
                items-per-page="itemsPerPage" class="pagination-sm pagination">
            </uib-pagination>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->