
<div class="demo-container">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
            <h4 align="center">
                View Document
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6" style="padding: 30px;">
                    <h3>
                        ID Card
                    </h3>
                    <a href="/Doc/{{id_card}}" target="_blank">
                        <img ng-src="/Doc/{{id_card}}" style="border-radius: 3px; margin:30px auto; border-width: 20px; background-color: #fcfcfc" width="200"/>
                    </a>
                </div>
                <div class="col-sm-6" style="padding: 30px;">
                    <h3>
                        SMS/EMAIL Alert
                    </h3>
                    <a href="/Doc/{{user_alert}}" target="_blank">
                        <img "=" ng-src="/Doc/{{user_alert}}" style="border-radius: 3px; margin:30px auto; border-width: 20px; background-color: #fcfcfc" width="200"/>
                    </a>
                </div>

                <div id="user-data" ng-if="!editMode">
                	<section>
                		<h1 style="background: #565656">User Data</h1>

                		<div class="contentform user-details">

                			<div class="segments">
                				<h3>Personal Information</h3><br>
                				<div>
                					<p>First Name: <span>{{ user.firstname }}</span></p>
                				</div>

                				<div>
                					<p>Last Name: <span>{{ user.lastname }}</span></p>
                				</div>

                				<div>
                					<p>Middle Name: <span>{{ user.middlename }}</span></p>
                				</div>

                				<div>
                					<p>Email: <span>{{ user.email }}</span></p>
                				</div>

                				<div>
                					<p>Phone: <span>{{ user.phone }}</span></p>
                				</div>

                				<div>
                					<p>Gender: <span>{{ user.gender }}</span></p>
                				</div>

                				<div>
                					<p>DoB: <span>{{ user.dob }}</span></p>
                				</div>

                				<!-- <div>
                					<p>Marital Status: <span>{{ user.marital_status }}</span></p>
                				</div> -->

                				<div>
                					<p>Address: <span>{{ user.address }}</span></p>
                				</div>

                				<div>
                					<p>Location: <span>{{ user.location }}</span></p>
                				</div>

                				<!-- <div>
                					<p>Type of Home: <span>{{ user.type_of_home }}</span></p>
                				</div> -->
                			</div>

                			<div class="segments">
                				<h3>Bank Details</h3><br>
                				<div>
                					<p>Account Name: <span>{{ user.account_name }}</span></p>
                				</div>

                				<div>
                					<p>Account Numbaer: <span>{{ user.account_number }}</span></p>
                				</div>

                				<div>
                					<p>Bank Name: <span>{{ user.bank_name }}</span></p>
                				</div>
                			</div>

                			<div class="segments">
                				<h3>Employment Information</h3><br>
                				<div>
                					<p>Employer: <span>{{ user.employer }}</span></p>
                				</div>

                				<div>
                					<p>Employee Status: <span>{{ user.employee_status }}</span></p>
                				</div>

                				<!-- <div>
                					<p>Experience: <span>{{ user.experience }}</span></p>
                				</div> -->

                				<!-- <div>
                					<p>Qualification: <span>{{ user.qualification }}</span></p>
                				</div> -->

                				<div>
                					<p>Monthly Income: <span>{{ user.monthly_net_income }}</span></p>
                				</div>

                				<!-- <div>
                					<p>Dependants: <span>{{ user.deppendants }}</span></p>
                				</div> -->

                				<button ng-click="$parent.editMode = true" class="btn btn-default btn-xs pull-right">Edit</button>
                			</div>
                		</div>
                	</section>
                </div>

                <div id="user-data" class="editable-user-data" ng-if="editMode">
                	<section>
                		<h1 style="background: #565656">User Data</h1>

                		<div class="contentform user-details">

                			<div class="segments">
                				<h3>Personal Information</h3><br>
                				<div>
                					<p>First Name: <input class="form-control" ng-model="user.firstname"> </p>
                				</div>

                				<div>
                					<p>Last Name: <input class="form-control" ng-model="user.lastname"></p>
                				</div>

                				<div>
                					<p>Middle Name:
                					<input class="form-control" ng-model="user.middlename"></p>
                				</div>

                				<div>
                					<p>Email: <input class="form-control" ng-model="user.email"></p>
                				</div>

                				<div>
                					<p>Phone: <input class="form-control" ng-model="user.phone"></p>
                				</div>

                				<div>
                					<p>Gender: <input class="form-control" ng-model="user.gender"></p>
                				</div>

                				<div>
                					<p>DoB: <input type="date" class="form-control" ng-model="user.dob"></p>
                				</div>

                				<!-- <div>
                					<p>Marital Status:
                						<select class="form-control" ng-model="user.marital_status" ng-options="x for x in $parent.maritalStatus">
                						</select>
                					</p>
                				</div> -->

                				<div>
                					<p>Address: <input class="form-control" ng-model="user.address"></p>
                				</div>

                				<div>
                					<p>Location:
                						<select class="form-control" ng-model="user.location" ng-options="x for x in $parent.states">
                						</select>
                					</p>
                				</div>

                				<!-- <div>
                					<p>Type of Home:
                					<select class="form-control" ng-model="user.type_of_home" ng-options="x for x in $parent.residence">
                					</select>
                					</p>
                				</div> -->
                			</div>

                			<div class="segments">
                				<h3>Bank Details</h3><br>
                				<div>
                					<p>Account Name: <input class="form-control" ng-model="user.account_name"></p>
                				</div>

                				<div>
                					<p>Account Number: <input class="form-control" ng-model="user.account_number"></p>
                				</div>

                				<div>
                					<p>Bank Name: <input class="form-control" ng-model="user.bank_name"></p>
                				</div>
                			</div>

                			<div class="segments">
                				<h3>Employment Information</h3><br>
                				<div>
                					<p>Employer:
                						<select class="form-control" ng-model="user.employer" ng-options="x for x in $parent.employers">
                							</select>
                						</p>
                					</p>
                				</div>

                				<!--<div>
                					<p>Employee Status: <span>{{ user.employee_status }}</span></p>
                				</div>-->

                				<!-- <div>
                					<p>Experience:
                					<select class="form-control" ng-model="user.experience" ng-options="x for x in $parent.experience">
                						</select></p>
                				</div> -->

                				<!-- <div>
                					<p>Qualification:
                					<select class="form-control" ng-model="user.qualification" ng-options="x for x in $parent.qualification">
                						</select>
                					</p>
                				</div> -->

                				<div>
                					<p>Monthly Income: <input class="form-control" ng-model="user.monthly_net_income"></p>
                				</div>

                				<!-- <div>
                					<p>Dependants:
                					<select class="form-control" ng-model="user.deppendants" ng-options="x for x in $parent.dependants">
                						</select>
                					</p>
                				</div> -->


                				<button ng-click="updateUserData(); $parent.editMode = false" class="btn btn-primary btn-xs pull-right">Save Data</button>
                				<button ng-click="$parent.editMode = false" class="btn btn-xs pull-right">Cancel</button>
                			</div>
                		</div>
                	</section>
                </div>

                <div class="col-sm-12" style="padding-bottom: 20px;" ng-if="loan.status == 'pending'">
                    <div class="form-group">
                        <label><h4>Reason for loan decline</h4></label>
                        <textarea class="form-control" ng-model="$parent.decline_message">

                        </textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer" ng-if="loan.status == 'pending' || loan.status == 'declined'">
            <div>
                <button ng-click="open_loan(loan, loan._id, $index)" class="btn btn-xs btn-primary">Update Loan<i class="fa fa-check"></i>
                </button>
                <button class="btn btn-xs btn-success" ng-click="Approve()">
                    Approve
                    <i class="fa fa-check">
                    </i>
                </button>
                <button  ng-if="loan.status == 'pending'" class="btn btn-xs btn-danger" ng-click="Decline()">
                    Decline
                    <i class="fa fa-trash">
                    </i>
                </button>
                <button ng-click="delete(user)" class="btn btn-xs btn-primary">
                    Delete<i class="fa fa-check"></i>
                </button>
                <button class="btn btn-xs btn-danger pull-left" ng-click="block(user)">
                    Block
                    <i class="fa fa-block">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
