<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">Upload Document</h3>
                <div class="work-progres">
                    <div class="table-responsive">


                     <form name="myInput" method="post" action="/web/Upload" enctype="multipart/form-data" >

                   <div class="col-md-8" style="margin-top: 20px;" >

                       <div class="form-group" >
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="admin-role"> Select ID<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="file" name="id_card" accept=".jpg,application/jpg">
                            </div>

                        </div>
                    </div> <br/>

                     <div class="col-md-8" style="margin-top: 20px;" >

                       <div class="form-group" >
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="admin-role"> Select Bank Statement<span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="file" name="user_alert" accept=".jpg,application/jpg">
                        </div>

                    </div>
                    </div> <br/>

                    <input type="hidden" name="user_id" value="{{loan.user._id}}">

                    <button style="float: right; margin: 30px;" type="submit" class="btn btn-primary" >Upload</button>


                </form>


                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
