<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                
            	<div class="clearfix"> 
            		<h3 class="pull-left two w3_inner_tittle">List of all employers</h3>
            		<button class="btn btn-primary btn-xs pull-right" ng-click="newEmployer()"> Add New </button>
            	</div>

                <div class="work-progres">
                    <div class="table-responsive">
                    <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Employer Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="employer in employers | filter:search">
                                <td ng-bind="$index + rowId"></td>
                                <td>{{ employer.employer_name }}</td>

                                <td> 
                                	<button ng-click="employerAction(employer._id)" class="btn btn-xs btn-primary  pull-right">
                                	Action<i class="fa fa-check"></i> 
                                	</button>

                                	<button class="btn btn-primary btn-xs pull-right" 
                                		ng-click="editEmployer(employer)"> Edit </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <uib-pagination total-items="totalItems" ng-model="currentPage" force-ellipses="true" ng-change="pageChanged()" 
                items-per-page="itemsPerPage" class="pagination-sm pagination">
            </uib-pagination>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->