<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <div id="notification">
                    <div ng-show="success" class="alert alert-success" role="alert">
                        <strong>Success!</strong> {{success}}
                    </div>
                    <div ng-show="error" class="alert alert-danger" role="alert">
                        <strong>Error!</strong> {{error}}
                    </div>
                </div>
                <h3 class="w3_inner_tittle two">List of all investments
                    
                </h3>
                <div class="work-progres">
                <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                 <th>Name</th>
                                <th>Phone</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Investment Date</th>
                                <th>End Date</th>
                                <th>Interest Rate</th>
                                 <th>Months</th>
                                <th>Monthly Interest</th>
                                <th>Return</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="investment in investments | filter:search">
                                <td ng-bind="$index + 1"></td>
                                <td ><span ng-bind="investment.user.firstname"></span> 
                                    <span ng-bind="investment.user.lastname"></span>
                                </td>
                                <td ng-bind="investment.user.phone"> </td>
                                <td ng-bind="investment.type"></td>
                                <td>&#8358;{{investment.amount | number}}</td>
                                 <td ng-bind="investment.start"></td>
                                <td ng-bind="investment.paydate"></td>
                                <td ng-bind="investment.rate"></td>
                                <td > <span ng-bind="investment.months"></span></td>
                                <td>&#8358;{{investment.monthly | number}}</td>
                                <td>&#8358;{{investment.payback | number}}</td>
                              
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->

<!-- Modal -->
<div class="modal fade" id="add_investment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Investment Plan</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-xs-12" for="name">Name <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="name" ng-model="investment.name">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-xs-12" for="code">Code <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="code" ng-model="investment.code" maxlength="1">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-xs-12" for="rate">Rate <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="rate" ng-model="investment.rate">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-xs-12" for="period">Period <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select id="period" class="form-control col-md-7 col-xs-12" ng-model="investment.period">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly" selected>Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="addInvestment(investment)">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="set_rate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel2">Set Interest Rate for {{set.name}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-xs-12" for="setRate">Interest Rate <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input type="tel" class="form-control" id="setRate" ng-model="set_rate.rate">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="setRate(set_rate)">Set</button>
            </div>
        </div>
    </div>
</div>