<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">List of all Lenders</h3>
                <div class="work-progres">
                <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Telephone</th>
                                <th>Email</th>
                                <th>BVN</th>
                                <th>Occupation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="member in Lenders | filter:search">
                                <td ng-bind="$index + 1"></td>
                                <td ><span ng-bind="member.firstname"></span>  <span ng-bind="member.lastname"></span></td>
                                <td ng-bind="member.phone"></td>
                                <td ng-bind="member.email"></td>
                                <td ng-bind="member.bvn"></td>
                                <td ng-bind="member.occupation"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->