<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">

                <div class="clearfix">
                    <h3 class="pull-left two w3_inner_tittle">{{ pageName }}</h3>
                    <button class="btn btn-primary btn-xs pull-right" ng-click="bulkMessage()"> Send Message </button>
                </div>

                <div class="work-progres">
                    <div class="table-responsive">
                    <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search" ng-change="searchQueryChange()">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Amount</th>
                                <th>Payment made</th>
                                <th>Repayment left</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="loan in loans">
                                <td ng-bind="$index + rowId"></td>
                                <td ><span ng-bind="loan.user.firstname"></span> <span ng-bind="loan.user.lastname"></span></td>
                                <td ng-bind="loan.user.phone"></td>
                                <td>&#8358; <span ng-if="loan.status !== 'pending'">{{loan.amount | number}}</span> <span ng-if="loan.status == 'pending'">Determined after credit appraisal</span></td>
                                <td>&#8358; {{loan.payment_made || 0}}</td>
                                <td>&#8358;<span ng-if="loan.status == 'pending'">0.00</span> <span ng-if="loan.status !== 'pending'">{{loan.repayment_left | number}}</span> </td>
                                <td ng-bind="loan.start_date"></td>
                                <td ng-bind="loan.end_date"></td>
                                <td ng-bind="loan.status"></td>
                                <td>
                                    <a href="/user/data/pdf?user_id={{loan.user._id}}" class="btn btn-xs btn-primary">View Data</a>

                                    <!-- <button ng-click="open_loan(loan, loan._id, $index)" class="btn btn-xs btn-primary">Update Loan<i class="fa fa-check"></i>
                                    </button> -->

                                    <button ng-click="open_upload(loan)" class="btn btn-xs btn-primary">Upload Document<i class="fa fa-check"></i>
                                    </button>

                                    <button ng-if="loan.user.user_alert" ng-click = "open_doc(loan)" class="btn btn-xs btn-primary mt-2">View Document<i class="fa fa-book"></i>
                                    </button>

                                    <!-- <a href="http://app.payconnect.ng/payconnect/{{loan._id}}" target="_blank"> <button ng-if="loan.user_alert" ng-click = "Tokenize(loan)" class="btn btn-xs btn-primary">Tokenize<i class="fa fa-line-chart"></i></button> </a> -->

                                    <button ng-if="loan.repayment_left > 0" ng-click = "open_charge(loan)" class="btn btn-xs mt-2 btn-primary">Charge<i class="fa fa-credit-card"></i></button>

                                    <button ng-if="loan.repayment_left > 0" ng-click = "open_late(loan)" class="btn btn-xs mt-2 btn-primary">Late Loan</i></button>

                                    <button class="btn btn-primary btn-xs mt-2"
                                        ng-click="message(loan.user)"> Send Msg. </button>

                                    <button ng-click="deleteLoan(loan._id)" class="btn btn-xs mt-2 btn-primary">
                                        Delete<i class="fa fa-check"></i>
                                    </button>
                                    <a ng-if="loan.screenshot" href="/Doc/{{loan.screenshot}}"> <img width="5%" height="5" ng-src="/Doc/{{loan.screenshot}}" alt=""> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <uib-pagination total-items="totalItems" ng-model="currentPage" force-ellipses="true" ng-change="pageChanged()"
                items-per-page="itemsPerPage" class="pagination-sm pagination">
            </uib-pagination>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->
