<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">

            	<div class="clearfix">
            		<h3 class="pull-left two w3_inner_tittle">List of all member</h3>
            		<button class="btn btn-primary btn-xs pull-right" ng-click="bulkMessage()"> Send Message </button>
            	</div>

                <div class="work-progres">
                    <div class="table-responsive">
                    <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search" ng-change="searchQueryChange()">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Telephone</th>
                                <th>Email</th>
                                <th>OTP</th>
                                <th>Code</th>
                                <th>BVN</th>
                                <th>Occupation</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="member in members">
                                <td ng-bind="$index + rowId"></td>
                                <td ><span ng-bind="member.firstname"></span>  <span ng-bind="member.lastname"></span></td>
                                <td ng-bind="member.phone"></td>
                                <td ng-bind="member.email"></td>
                                <td ng-bind="member.otp"></td>
                                <td ng-bind="member.code"></td>
                                <td ng-bind="member.bvn"></td>
                                <td ng-bind="member.occupation"></td>
                                <td ng-bind="member.account_status">{{member.account_status}}</td>
                                <td>
                                	<button ng-click = "openDetails(member)" class="btn btn-xs btn-primary">View Details<i class="fa fa-book"></i>
                                	</button>

                                	<button ng-click="accountAction(member)" class="btn btn-xs btn-primary">
                                	Acount Action<i class="fa fa-check"></i>
                                	</button>

                                	<button ng-click="deleteUser(member)" class="btn btn-xs btn-primary">
                                	Delete<i class="fa fa-check"></i>
                                	</button>

                                	<a href="/user/data/pdf?user_id={{member._id}}" class="btn btn-xs btn-primary">View Data</a>
                                	<a href="/user/data/pdf/download?user_id={{member._id}}" class="btn btn-xs btn-primary">PDF</a>

                                	<button class="btn btn-primary btn-xs pull-right"
                                		ng-click="message(member)"> Send Message </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <uib-pagination total-items="totalItems" ng-model="currentPage" force-ellipses="true" ng-change="pageChanged()"
                items-per-page="itemsPerPage" class="pagination-sm pagination">
            </uib-pagination>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->
