<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>MODAL</title>


</head>

<body style="overflow-y: auto; overflow-x: auto;">




    <div class="modal-header" style="background-color: #BCB8C2; color: #FFF;">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span>
                </button>
        <h4 align="center" class="modal-title" id="myModalLabel">Update User Details </h4>
    </div>
    <div class="modal-body" style="overflow: auto; background-color: #EEEEEE;">
        <div class="alert alert-success" role="alert" ng-if="success">
            <strong>Notification!</strong> {{success}}
        </div>
        <div class="alert alert-info" role="alert" ng-if="error">
            <p> <strong>Oh snap!</strong> {{error}} </p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="forms">
                  <!--   <header class="panel-heading">
                        <ul class="nav nav-tabs" style="border-bottom:0px;">
                            <li class="active">
                                <a data-target="#single" data-toggle="tab">Single</a>
                            </li>
                            <li>
                                <a data-target="#multiple" data-toggle="tab">Multiple</a>
                            </li>
                        </ul>
                    </header> -->
                    <div class="panel-body" style="background-color: #ffffff;">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="single">
                            <form name="myInput" novalidate >
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-firstname" >First Name <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">

                                        <input ng-trim="false" autocomplete="off" type="text" ng-required="true"  class="form-control col-md-7 col-xs-12" ng-model="member.firstname">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-lastname">Last Name <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">

                                        <input ng-trim="false" autocomplete="off" type="text" id="member-lastname" ng-required="true" class="form-control col-md-7 col-xs-12" ng-model="member.lastname">

                                        <p class="err">{{err_lName}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-middlename">Middle Name <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input ng-trim="false" autocomplete="off" type="text" id="member-middlename" ng-required="true" ng-change="err_mName(member.middlename)" class="form-control col-md-7 col-xs-12" ng-model="member.middlename">
                                        <p class="err">{{err_mName}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                   <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-gender">Gender <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select id="member-gender" class="form-control" ng-required="true" ng-model="member.gender">
                                                    <option value="" selected disabled>Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                  <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-dob">Date Of Birth <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                            <div class="input-group">
                                                <input ng-trim="false" autocomplete="off" class="form-control" placeholder="Choose a date" ng-model="member.dob" />
                                                <span class="input-group-addon" style="cursor: pointer">
                                           <i class="fa fa-lg fa-calendar"></i>
                                       </span>
                                            </div>
                                        </datepicker>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Marital Status  <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.marital_status">
                                                    <option value="" selected disabled>Select marital status </option>
                                                    <option value="single">Single</option>
                                                    <option value="married">married</option>
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Number of Deppendants  <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.deppendants">
                                                    <option value="" selected disabled>Select number of deppendants  </option>
                                                    <option value="2 and below">2 and below</option>
                                                    <option value="3-4">3-4</option>
                                                    <option value="5 and above">5 and above</option>
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                  <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Highest Qualification  <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.high_qualification">
                                                    <option value="" selected disabled>Select qualification </option>
                                                    <option value="single">Single</option>
                                                    <option value="married">married</option>
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Employment Status <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.employee_status">
                                                    <option value="" selected disabled>Select employment status </option>
                                                    <option value="Employed">Employed</option>
                                                    <option value="Bussiness">Bussiness</option>
                                                    <option value="Student">Student</option>
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                  <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Years of experience <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.experience">
                                                    <option value="" selected disabled>Select years of experience </option>
                                                    <option value="0-2 Years">0-2 Years</option>
                                                    <option value="2-4 Years">2-4 Years</option>
                                                    <option value="5 and Above">5 and Above</option>
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                               <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id-type">Monthly Net Income <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input ng-trim="false" autocomplete="off" type="text" id="member-id-type" ng-required="true" class="form-control col-md-7 col-xs-12" ng-model="member.monthly_net_income">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                         <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-state">State  <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 c  ol-sm-8 col-xs-12">
                                        <select id="member-state" class="form-control" ng-required="true" ng-change="getLga(member.state)" ng-model="member.state">
                                                    <option value="" selected disabled>Select a State</option>
                                                    <option ng-repeat="state in states| orderBy" value="{{state.name}}">{{state.name}}</option>
                                                </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div id="lga" class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="association-lga">LGA <span class="required">*</span>
                    </label>
                                    <div class="col-md-8 c  ol-sm-8 col-xs-12">
                                        <select id="association-lga" class="form-control" ng-required="true" name="lga" ng-model="member.lga">
                            <option value="" selected disabled>Select a LGA</option>
                            <option ng-repeat="lga in lgas| orderBy" value="{{lga.name}}">{{lga.name}}</option>
                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-home">Address <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input ng-trim="false" autocomplete="off" id="member-home" class="form-control col-md-7 col-xs-12" ng-required="true" ng-model="member.address" />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                   <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Type Of Residence <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.type_of_home">
                                                    <option value="" selected disabled>select type of residency </option>
                                                    <option value="Rented">Rented</option>
                                                    <option value="Owned">Owned</option>
                                                    <option value="Family House">Family House</option>
                                                    <option value="Rented">Employer Provided</option>
                                                    <option value="Owned">Temporary</option>
                                                    <option value="Family House">Squating</option>
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                             
                               

                              


                                <br>
                                <fieldset>
                                    <legend>Bank Details</legend>
                                          <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="member-id">Bank Name <span class="required">*</span>
                                            </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control"  ng-model="member.type_of_home">
                                                    <option value="" selected disabled>Select Bank Name </option>
                                                    <option ng-repeat="bank in Banks" value="{{bank.bankName}}">{{bank.bankName}}</option>
                                                  
                                                
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Name on account <span class="required">*</span>
                                            </label>
                                        <div class="col-md-8 c  ol-sm-8 col-xs-12">
                                            <input ng-trim="false" autocomplete="off" id="member-market" class="form-control col-md-7 col-xs-12" ng-required="true" ng-model="member.name_on_account" />
                                           

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Account number <span class="required">*</span>
                                            </label>
                                        <div class="col-md-8 c  ol-sm-8 col-xs-12">
                                            <input ng-trim="false" autocomplete="off" class="form-control col-md-7 col-xs-12" ng-required="true" ng-model="member.account_number" />
                                           

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">BVN <span class="required">*</span>
                                            </label>
                                        <div class="col-md-8 c  ol-sm-8 col-xs-12">
                                            <input ng-trim="false" class="form-control col-md-7 col-xs-12" ng-required="true" ng-model="member.bvn" />
                                       

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </fieldset>


                                <div class="form-group">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                                        <button type="button" class="btn btn-primary"  ng-click="Submit(member)">Update Account</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        </div>
                    </div>
                </div>

            </div>

</body>

</html>