 <!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">

        <!-- //agile_top_w3_grids-->
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">Paidout Withdrawals</h3>
              
                <div class="work-progres">
                    <input type="text" class="form-control" placeholder="Quick search through list" ng-model="search">
                    
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Phone</th>
                                <th>Account Name</th>
                                <th>Account</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in withdrawal | filter:search">
                                <td ng-bind="$index + 1"></td>
                                <td> {{data.user.phone}}</td>
                                <td>{{data.user.account_name}}</td>
                                <td> {{data.user.account_number}}</td>
                                <td> {{data.user.bank_name}}</td>
                                <td>&#8358; {{data.amount | number}}</td>
                                <td>{{data.payout}}</td>
                                <td>
                                <button ng-click = "open_warning(data)" class="btn btn-xs btn-primary">Process<i class="fa fa-check"></i></button>
                                </td>
                                
                                
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content