<!-- /inner_content-->
<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_post_sections-->
        <div class="agile_top_w3_post_sections">
            <div class="col-md-12 fallowers_agile agile_info_shadow">
                <h3 class="w3_inner_tittle two">List of all transactions</h3>
                <div class="alert alert-success" ng-show="success">{{success}}</div>
                <div class="alert alert-danger" ng-show="error">{{error}}</div>
                <div class="work-progres">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Phone</th>
                                <th>Amount</th>
                                <th>Tenure</th>
                                <!--<th>Payment made</th>-->
                                <!--<th>Repayment left</th>-->
                                <!--<th>Start</th>-->
                                <!--<th>End</th>-->
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="transaction in transactions">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="transaction.phone"></td>
                                <td>&#8358; {{transaction.amount}}</td>
                                <td>{{transaction.tenure}} months</td>
                                <!--<td>&#8358; {{transaction.payment_made}}</td>-->
                                <!--<td>&#8358; {{transaction.repayment_left}}</td>-->
                                <!--<td ng-bind="transaction.start_date"></td>-->
                                <!--<td ng-bind="transaction.end_date"></td>-->
                                <td>
                                    <span ng-if="transaction.status == 'approve' || transaction.status == 'decline'">
                                        <button class="btn btn-sm btn-default" style="text-transform: uppercase;">{{transaction.status}}D</button>
                                    </span>
                                    <span ng-if="transaction.status != 'approve' || transaction.status != 'decline'">
                                        <button class="btn btn-sm btn-success" ng-click="process(transaction.phone,'approve')">APPROVE</button>
                                        <button class="btn btn-sm btn-danger" ng-click="process(transaction.phone,'decline')">DECLINE</button>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->