<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
   <head>

      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))</script>
   </head>
   <body class="dx-viewport">
      <div class="demo-container" >
         <div class="modal-content">
            <div class="modal-header" >
               <button type="button" class="close" ng-click="cancel()" ng-click="cancel()"><span aria-hidden="true">×</span>
               </button>
               <h4 align="center" >ATTENTION</h4>
            </div>
            <div class="modal-body" >

             <h4>ARE YOU SURE YOUR WANT TO PROCESS THIS WITHDRAWAL</h4>

            </div>
            <div class="modal-footer" >

            <div>

                <button  ng-click="approve()" class="btn btn-xs btn-success">Approve<i class="fa fa-check"></i></button>

                <button ng-click="decline()" class="btn btn-xs btn-danger">Decline<i class="fa fa-times"></i></button>

            </div>



            </div>
         </div>
      </div>
   </body>
</html>
