body {
	margin: auto;
	background: #eaeaea;  
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

.info p {
	text-align:center;
	color: #999;
	text-transform:none;
	font-weight:600;
	font-size:15px;
	margin-top:2px
}

.info i {
	color:#F6AA93;
}

section {
	border-radius: 5px;
	max-width: 900px;
	width: 100%;
	margin: 5% auto;
	background-color: #FFFFFF;
	overflow: hidden;
	height: 100%;
}

p {
	margin: 0px;
	font-weight: 500;
	line-height: 2;
	color:#333;
}

h1 {
	text-align:center; 
	color: #666;
	text-shadow: 1px 1px 0px #FFF;
	margin:50px 0px 0px 0px
}

input {
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #eee;
	margin-bottom: 15px;
	width: 75%;
	height: 40px;
	float: left;
	padding: 0px 15px;
}

a {
	text-decoration:inherit
}

textarea {
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #EEE;
	margin: 0;
	width: 75%;
	height: 130px; 
	float: left;
	padding: 0px 15px;
}

.icon-case {
	width: 35px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	background:#eeeeee;
	height:42px;
	position: relative;
	text-align: center;
	line-height:40px;
}

i {
	color:#555;
}

.contentform {
	padding: 40px 30px;
}

.bouton-contact{
	background-color: #81BDA4;
	color: #FFF;
	text-align: center;
	width: 100%;
	border:0;
	padding: 17px 25px;
	border-radius: 0px 0px 5px 5px;
	cursor: pointer;
	margin-top: 40px;
	font-size: 18px;
}


/*Styles added by Darlington Sobio*/
.user-details > .segments > div {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

p span {
    color: #969696;
    padding-left: 15px;
}

h1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: center;
}