
#user-data .info p {
	text-align:center;
	color: #999;
	text-transform:none;
	font-weight:600;
	font-size:15px;
	margin-top:2px
}

#user-data .info i {
	color:#F6AA93;
}

#user-data section {
	border-radius: 5px;
	max-width: 900px;
	width: 100%;
	margin: 5% auto;
	background-color: #FFFFFF;
	overflow: hidden;
	height: 100%;
}

#user-data p {
	margin: 0px;
	font-weight: 500;
	line-height: 2;
	color:#333;
}

#user-data h1 {
	text-align:center; 
	color: #666;
	text-shadow: 1px 1px 0px #FFF;
	margin:50px 0px 0px 0px
}

#user-data a {
	text-decoration:inherit
}

#user-data .icon-case {
	width: 35px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	background:#eeeeee;
	height:42px;
	position: relative;
	text-align: center;
	line-height:40px;
}

#user-data i {
	color:#555;
}

#user-data .contentform {
	padding: 40px 30px;
}

/*Styles added by Darlington Sobio*/
#user-data .user-details > .segments > div {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

#user-data.editable-user-data .user-details > .segments > div {

    border-bottom: none;
}

#user-data p span {
    color: #969696;
    padding-left: 15px;
}

#user-data h1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: center;
}