
<div class="demo-container">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
            <h4 align="center">
                Message Loan Users
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="padding-bottom: 20px;">
                	
                	<div class="form-group">
                	    
                	    <div class="form-group">
                	      	<label>Title (For Emails)</label>
                	      	<input ng-model="bulkEmailTitle" type="text" class="form-control">
                	    </div>
                	</div>

                    <div class="form-group">
                        <label><h4>Message</h4></label>
                        <textarea class="form-control" ng-model="bulkMsg">
                            
                        </textarea>
                    </div>

                    <div class="checkbox">
                      	<label><input ng-model="bulkSMS" type="checkbox" value="1">SMS</label>
                    </div>
                    <div class="checkbox">
                      	<label><input ng-model="bulkEmail" type="checkbox" value="1">Email</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-xs btn-success" ng-click="sendBulkMessage()">
                    Send
                    <i class="fa fa-check">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
