
<div class="demo-container">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="close()" type="button">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
            <h4 align="center">
                Reason for loan decline
            </h4>
        </div>
        <div class="modal-body">
        	<p class="text-center">{{ decline_message }}</p>
        </div>
    </div>
</div>
 