
<div class="demo-container">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
            <h4 align="center">
                Delete Loan
            </h4>
        </div>
        <div class="modal-body">
            <div class="clearfix">
            	<button class="btn btn-xs btn-danger pull-right" ng-click="delete()">
            	    Delete
            	    <i class="fa fa-block">
            	    </i>
            	</button>
            </div>
        </div>
    </div>
</div>
 