
<div class="demo-container">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
            <h4 align="center">
                Edit Employer
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="padding-bottom: 20px;">
                	
                	<div class="form-group">
                	    
                	    <div class="form-group">
                	      	<label>Employer name</label>
                	      	<input ng-model="$parent.employerName" type="text" class="form-control">
                	    </div>
                	</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-xs btn-success" ng-click="updateEmployer()">
                    Update
                    <i class="fa fa-check">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
