<div class="modal-header" style="color: #FFF;">
    <button class="close" ng-click="cancel()" type="button">
        <span aria-hidden="true">
            ×
        </span>
    </button>
    <h4 align="center" class="modal-title" id="myModalLabel">
        Enter Increased Rate
    </h4>
</div>
<div class="modal-body" style="overflow: auto;">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <form name="myInput" novalidate="">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">
                            Increase By Rate
                            <span class="required">
                                *
                            </span>
                        </label>
                        <div class="col-md-8 c ol-sm-8 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" ng-model="rate" ng-required="true" ng-trim="false" type="text" />
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <div class="modal-footer">

                            <button class="btn btn-default" ng-click="cancel()" type="button">
                                Close
                            </button>
                            <button class="btn btn-primary" ng-click="increase(loan)" type="button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
