<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <script>
            window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))
        </script>
    </head>
    <body class="dx-viewport">
        <div class="demo-container">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" ng-click="cancel()" type="button">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                    <h4 align="center">
                        Message ({{ $parent.msg_firstname }})
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12" style="padding-bottom: 20px;">
                        	
                        	<div class="form-group">
                        	    
                        	    <div class="form-group">
                        	      	<label>Title (For Emails)</label>
                        	      	<input ng-model="userEmailTitle" type="text" class="form-control">
                        	    </div>
                        	</div>

                            <div class="form-group">
                                <label><h4>Message</h4></label>
                                <textarea class="form-control" ng-model="userMsg">
                                    
                                </textarea>
                            </div>

                            <div class="checkbox">
                              	<label><input ng-model="userSMS" type="checkbox" value="1">SMS</label>
                            </div>
                            <div class="checkbox">
                              	<label><input ng-model="userEmail" type="checkbox" value="1">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-xs btn-success" ng-click="sendMessage()">
                            Send
                            <i class="fa fa-check">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>