<div style=" width:500px; margin: 0; padding: 0 0 20px; font-family: 'Open Sans', sans-serif; box-sizing: border-box; font-size: 17px; vertical-align: top;">
	<p>
	{{message}}
	<span style="font-weight: bold;"></span>
	</p>
</div>

