<div class="w3_agileits_top_nav">
    <ul id="gn-menu" class="gn-menu-main">
    
        <!-- //nav_agile_w3l -->
        <li class="second logo"><h1><a href="#/"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Payconnect </a></h1></li>
        <li class="second admin-pic">
        </li>
    </ul>
    <!-- //nav -->

</div>