<nav class="gn-menu-wrapper" ng-controller="sidebarCtrl">
    <div class="gn-scroller scrollbar1">
        <ul class="gn-menu agile_menu_drop">
            <li ng-class="{active: isActive('/')}"><a href="#/"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
            
            <li ng-class="{active: isActive('/loan')}"><a href="#/loan"> <i class="fa fa-list"></i> Loans</a></li>
          <!--   <li ng-class="{active: isActive('/transaction')}"><a href="#/transaction"> <i class="fa fa-list-ol"></i> Transactions</a></li> -->
            <li ng-class="{active: isActive('/investment')}"><a href="#/investment"> <i class="fa fa-thumbs-up"></i> Investments</a></li>
           
            <li ng-class="{active: isActive('/member')}"><a href="#/member"> <i class="fa fa-users"></i> Members</a></li>
             <li ng-class="{active: isActive('/Borrowers')}"><a href="#/Borrowers"> <i class="fa fa-calculator"></i> Borrowers</a></li>
              <li ng-class="{active: isActive('/Lenders')}"><a href="#/Lenders"> <i class="fa fa-bank"></i> Lenders</a></li>
          
            <li ng-class="{active: isActive('/logout')}"><a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </div><!-- /gn-scroller -->
</nav>

<script src="../js/classie.js"></script>
<script src="../js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!-- script-for-menu -->