
<!DOCTYPE html>
<html lang="en"  ng-app = "Payconnect">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

    <title>AlphaCredit | BackOffice</title>

  <style scoped>

         .button-success
                  {
            color: white;
            border-radius: 4px;
            width: 200px;
            height: 40px;
            font-weight: 10px;
            font-style: bold;
            margin-left: 40%;
            margin-right: 40%;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }



        .middle {

            margin-left: 23%;
            margin-right: 20%;
            margin-top: 10%;
            color:#b2b4b7;
            font-size: 20px;
            align-self: center;
        }

    </style>

</head>

<body>

           <% if(name.length > 0){ %>


                         <p class="middle"> Hi <strong><%= name %> !</strong>  </p>

                    <% } %>





        <p class="middle"> Your Loan has been succesfully processed </p>




</body>
</html>
