
		<div class="inner_content" >
   <div class="inner_content_w3_agile_info" >
      <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family:Helvetica;letter-spacing:normal;text-indent:0px;text-transform:none;word-spacing:0px;background-color:rgb(255,255,255);border-spacing:0px;border-collapse:collapse;vertical-align:top;height:735px;width:725px;table-layout:fixed">
         <tbody>
            <tr style="vertical-align:top">
               <td align="center" valign="top" style="word-break:break-word;vertical-align:top;text-align:center;background-color:rgb(255,255,255);border-collapse:collapse!important">
                  <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:transparent">
                     <tbody>
                        <tr style="vertical-align:top">
                           <td width="100%" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                              <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="width:500px!important;border-spacing:0px;border-collapse:collapse;vertical-align:top;max-width:500px;margin:0px auto;text-align:inherit">
                                 <tbody>
                                    <tr style="vertical-align:top">
                                       <td width="100%" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                                          <table cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;width:500px;max-width:500px;background-color:transparent">
                                             <tbody>
                                                <tr style="vertical-align:top">
                                                   <td style="word-break:break-word;vertical-align:top;text-align:center;font-size:0px;border-collapse:collapse!important">
                                                      <div style="display:inline-block;vertical-align:top;width:500px">
                                                         <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                            <tbody>
                                                               <tr style="vertical-align:top">
                                                                  <td style="word-break:break-word;vertical-align:top;background-color:transparent;padding:5px 0px;border:0px solid transparent;border-collapse:collapse!important">
                                                                     <table cellpadding="0" cellspacing="0" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td align="center" style="word-break:break-word;vertical-align:top;width:440px;padding:10px 30px;border-collapse:collapse!important">
                                                                                 <div align="center">
                                                                                    <img align="center" border="0" src="http://payconnect.ng/icons/logo.svg" alt="Image" title="Image" style="outline:none;text-decoration:none;clear:both;display:block;border:0px;height:auto;line-height:12px;margin:0px auto;float:none;max-height:40px">
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:transparent">
                     <tbody>
                        <tr style="vertical-align:top">
                           <td width="100%" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                              <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="width:500px!important;border-spacing:0px;border-collapse:collapse;vertical-align:top;max-width:500px;margin:0px auto;text-align:inherit">
                                 <tbody>
                                    <tr style="vertical-align:top">
                                       <td width="100%" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                                          <table cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;width:500px;max-width:500px;background-color:transparent">
                                             <tbody>
                                                <tr style="vertical-align:top">
                                                   <td style="word-break:break-word;vertical-align:top;text-align:center;font-size:0px;border-collapse:collapse!important">
                                                      <div style="display:inline-block;vertical-align:top;width:500px">
                                                         <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                            <tbody>
                                                               <tr style="vertical-align:top">
                                                                  <td style="word-break:break-word;vertical-align:top;background-color:transparent;padding:0px 0px 30px;border:1px solid rgb(237,237,237);border-collapse:collapse!important">
                                                                     <table cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:#a3c054;background-position:initial initial;background-repeat:initial initial">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:40px 10px 0px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(253,255,254);line-height:18px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="padding-bottom:40px">
                                                                                       <div style="margin:0px auto;max-width:500px;font-size:12px;line-height:18px;text-align:center">
                                                                                          <span style="font-size:18px;line-height:20px">
                                                                                       <strong>AlphaCredit Investment Certificate </strong>
                                                                                          </span>
                                                                                       </div>
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:center;padding-top:10px">
                                                                                          <span>&nbsp;</span>
                                                                                          </span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                     <table cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:20px 10px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:center"><strong><span style="font-size:16px;line-height:19px">Investment Details</span></strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                     <table cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Investor
                                                                                          <strong style="float:right">{{name}}</strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                           <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Amount
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                          {{amount}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                               <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Investment Plan
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                          {{plan}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                               <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left"> Investment Date
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                          {{start}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                               <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Maturity Date
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                         {{end}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                               <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Rate
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                          {{rate}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                               <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Interest
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                          {{interest}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>

                                                                                <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                                                                                       <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">Amount Payable
                                                                                          &nbsp;
                                                                                          <strong style="float:right">
                                                                                          {{return}}
                                                                                          </strong>
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>


                                                                        </tbody>
                                                                     </table>
                                                                     <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td align="center" style="word-break:break-word;vertical-align:top;padding:30px 10px 10px;border-collapse:collapse!important">
                                                                                 <div style="height:1px">
                                                                                    <table align="center" border="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;border-top-width:1px;border-top-style:solid;border-top-color:rgb(217,217,217);width:20px">
                                                                                       <tbody>
                                                                                          <tr style="vertical-align:top">
                                                                                             <td align="center" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important"></td>
                                                                                          </tr>
                                                                                       </tbody>
                                                                                    </table>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                     <table cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:20px 10px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:18px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:14px;line-height:21px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <div style="margin:0px;font-size:14px;line-height:21px;text-align:center">
                                                                                          <span style="font-size:16px;line-height:24px">Alphacredit</span>
                                                                                       </div>
                                                                                    </div>
                                                                                    <div style="font-size:14px;line-height:21px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <div style="margin:0px;font-size:14px;line-height:21px;text-align:center">
                                                                                          <a style="font-size:14px;line-height:21px;text-align:center;color:rgb(80,161,247)">no-Reply@alphacredit.com</a>
                                                                                          <a title="email" style="font-size:14px;line-height:21px;text-align:center;color:rgb(80,161,247)"></a>
                                                                                       </div>
                                                                                    </div>
                                                                                    <div style="font-size:14px;line-height:21px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <p style="margin:0px;font-size:14px;line-height:21px;text-align:center"></p>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:transparent">
                     <tbody>
                        <tr style="vertical-align:top">
                           <td width="100%" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                              <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="width:500px!important;border-spacing:0px;border-collapse:collapse;vertical-align:top;max-width:500px;margin:0px auto;text-align:inherit">
                                 <tbody>
                                    <tr style="vertical-align:top">
                                       <td width="100%" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                                          <table cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;width:500px;max-width:500px;background-color:transparent">
                                             <tbody>
                                                <tr style="vertical-align:top">
                                                   <td style="word-break:break-word;vertical-align:top;text-align:center;font-size:0px;border-collapse:collapse!important">
                                                      <div style="display:inline-block;vertical-align:top;width:500px">
                                                         <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                            <tbody>
                                                               <tr style="vertical-align:top">
                                                                  <td style="word-break:break-word;vertical-align:top;background-color:transparent;padding:30px 0px;border:0px solid transparent;border-collapse:collapse!important">
                                                                     <table cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse;vertical-align:top">
                                                                        <tbody>
                                                                           <tr style="vertical-align:top">
                                                                              <td style="word-break:break-word;vertical-align:top;padding:10px;border-collapse:collapse!important">
                                                                                 <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                    <div style="font-size:12px;line-height:14px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <div style="margin:0px;font-size:12px;line-height:14px;text-align:center">© alphacredit
                                                                                          Inc
                                                                                          2017
                                                                                          <span>&nbsp;</span><br/>                                                                                                                        Online
                                                                                          Lending
                                                                                          Marketplace
                                                                                          <br/>                                                                                                                        Simple
                                                                                          Loans,
                                                                                          Smart
                                                                                          Investments.
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                    <div style="font-size:12px;line-height:14px;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;text-align:left">
                                                                                       <p style="margin:0px;font-size:12px;line-height:14px">&nbsp;</p>
                                                                                    </div>
                                                                                    <div style="font-size:12px;line-height:14px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <div style="margin:0px;font-size:12px;line-height:14px;text-align:center">If you
                                                                                          have
                                                                                          any
                                                                                          issues
                                                                                          with
                                                                                          this
                                                                                          you
                                                                                          can
                                                                                          &nbsp;
                                                                                          <span>&nbsp;</span><br>
                                                                                       </div>
                                                                                    </div>
                                                                                    <div style="font-size:12px;line-height:14px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                       <div style="margin:0px;font-size:12px;line-height:14px;text-align:center">email<span>&nbsp;</span>

                                                                                          <span>&nbsp;</span>
                                                                                          <span>&nbsp;</span>
                                                                                          <a href="mailto:help@payconnect.ng" style="font-size:12px;line-height:14px;text-align:center;color:rgb(80,161,247)" target="_blank">
                                                                                          <wbr>no-reply@alphacredit.ng</a>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <img src="https://ci4.googleusercontent.com/proxy/gOfTZm8E6xjaCipAgoM-D5j1IY6XadMXEoQlHM8nMOPeso7eGZaC_tBrB1sglb8hSkYIvTyoMOS0Wv1MazF1pK12GP5ri-OOxaIaozDLH19_LL8n8hqTRHDRaIwCH8W3JZLc4x6es_VnGpY=s0-d-e1-ft#https://mandrillapp.com/track/open.php?u=30661481&amp;id=f8cefc44e87d477d884b7c3e0f4233f6"
         height="1" width="1" style="font-family:Helvetica;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255)">
      <div></div>
      <div><span style="font-family:Helvetica;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255);float:none;display:inline!important"></span></div>
   </div>
</div>
