<div class="inner_content">
    <div class="inner_content_w3_agile_info">
        <table border="0" cellpadding="0" cellspacing="0" style="font-family:Helvetica;letter-spacing:normal;text-indent:0px;text-transform:none;word-spacing:0px;background-color:rgb(255,255,255);border-spacing:0px;border-collapse:collapse;vertical-align:top;height:735px;width:725px;table-layout:fixed" width="100%">
            <tbody>
                <tr style="vertical-align:top">
                    <td align="center" style="word-break:break-word;vertical-align:top;text-align:center;background-color:rgb(255,255,255);border-collapse:collapse!important" valign="top">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:transparent" width="100%">
                            <tbody>
                                <tr style="vertical-align:top">
                                    <td style="word-break:break-word;vertical-align:top;border-collapse:collapse!important" width="100%">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:500px!important;border-spacing:0px;border-collapse:collapse;vertical-align:top;max-width:500px;margin:0px auto;text-align:inherit" width="100%">
                                            <tbody>
                                                <tr style="vertical-align:top">
                                                    <td style="word-break:break-word;vertical-align:top;border-collapse:collapse!important" width="100%">
                                                        <table bgcolor="transparent" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;width:500px;max-width:500px;background-color:transparent" width="100%">
                                                            <tbody>
                                                                <tr style="vertical-align:top">
                                                                    <td style="word-break:break-word;vertical-align:top;text-align:center;font-size:0px;border-collapse:collapse!important">
                                                                        <div style="display:inline-block;vertical-align:top;width:500px">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
                                                                                <tbody>
                                                                                    <tr style="vertical-align:top">
                                                                                        <td style="word-break:break-word;vertical-align:top;background-color:transparent;padding:5px 0px;border:0px solid transparent;border-collapse:collapse!important">
                                                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
                                                                                                <tbody>
                                                                                                    <tr style="vertical-align:top">
                                                                                                        <td align="center" style="word-break:break-word;vertical-align:top;width:440px;padding:10px 30px;border-collapse:collapse!important">
                                                                                                            <div align="center">
                                                                                                                <img align="center" alt="Image" border="0" src="http://payconnect.ng/icons/logo.svg" style="outline:none;text-decoration:none;clear:both;display:block;border:0px;height:auto;line-height:12px;margin:0px auto;float:none;max-height:40px" title="Image">
                                                                                                                </img>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:transparent" width="100%">
                            <tbody>
                                <tr style="vertical-align:top">
                                    <td style="word-break:break-word;vertical-align:top;border-collapse:collapse!important" width="100%">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:500px!important;border-spacing:0px;border-collapse:collapse;vertical-align:top;max-width:500px;margin:0px auto;text-align:inherit" width="100%">
                                            <tbody>
                                                <tr style="vertical-align:top">
                                                    <td style="word-break:break-word;vertical-align:top;border-collapse:collapse!important" width="100%">
                                                        <table bgcolor="transparent" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;width:500px;max-width:500px;background-color:transparent" width="100%">
                                                            <tbody>
                                                                <tr style="vertical-align:top">
                                                                    <td style="word-break:break-word;vertical-align:top;text-align:center;font-size:0px;border-collapse:collapse!important">
                                                                        <div style="display:inline-block;vertical-align:top;width:500px">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
                                                                                <tbody>
                                                                                    <tr style="vertical-align:top">
                                                                                        <td style="word-break:break-word;vertical-align:top;background-color:transparent;padding:0px 0px 30px;border:1px solid rgb(237,237,237);border-collapse:collapse!important">
                                                                                            <table cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:#a3c054;background-position:initial initial;background-repeat:initial initial" width="100%">
                                                                                                <tbody>
                                                                                                    <tr style="vertical-align:top">
                                                                                                        <td style="word-break:break-word;vertical-align:top;padding:40px 10px 0px;border-collapse:collapse!important">
                                                                                                            <div style="color:rgb(253,255,254);line-height:18px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                                                <div style="padding-bottom:40px">
                                                                                                                    <div style="margin:0px auto;max-width:500px;font-size:12px;line-height:18px;text-align:center">
                                                                                                                        <span style="font-size:18px;line-height:20px">
                                                                                                                            <strong>
                                                                                                                                AlphaCredit Loan Certificate
                                                                                                                            </strong>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                    <div style="margin:0px;font-size:14px;line-height:17px;text-align:center;padding-top:10px">
                                                                                                                        <span>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
</br>
<table cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
    <tbody>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:20px 10px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:center">
                            <strong>
                                <span style="font-size:16px;line-height:19px">
                                    Loan Details
                                </span>
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
    <tbody>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Name
                            <strong style="float:right">
                                {{name}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Loan Amount
                            <strong style="float:right">
                                {{amount}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Loan Duration
                            <strong style="float:right">
                                {{tenure}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Repayment Date
                            <strong style="float:right">
                                {{date}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Interest
                            <strong style="float:right">
                                {{interest}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Repayment Amount
                            <strong style="float:right">
                                {{payback}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Rate
                            <strong style="float:right">
                                {{rate}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:0px 20px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="font-size:14px;line-height:17px;text-align:left;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgb(237,237,237);padding:15px 10px">
                        <div style="margin:0px;font-size:14px;line-height:17px;text-align:left">
                            Status
                            <strong style="float:right">
                                {{status}}
                            </strong>
                            <span>
                            </span>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
    <tbody>
        <tr style="vertical-align:top">
            <td align="center" style="word-break:break-word;vertical-align:top;padding:30px 10px 10px;border-collapse:collapse!important">
                <div style="height:1px">
                    <table align="center" border="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;border-top-width:1px;border-top-style:solid;border-top-color:rgb(217,217,217);width:20px">
                        <tbody>
                            <tr style="vertical-align:top">
                                <td align="center" style="word-break:break-word;vertical-align:top;border-collapse:collapse!important">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
    <tbody>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;padding:20px 10px;border-collapse:collapse!important">
                <div style="color:rgb(85,85,85);line-height:18px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                    <div style="margin:0px;font-size:14px;line-height:21px;text-align:center">
                        <h4 style="text-align-center">Please login to the app to accept the loan</h4>
                    </div>
                    <div style="font-size:14px;line-height:21px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                        <div style="margin:0px;font-size:14px;line-height:21px;text-align:center">
                            <span style="font-size:16px;line-height:24px">
                                AlphaCredit
                            </span>
                        </div>
                    </div>
                    <div style="font-size:14px;line-height:21px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                        <div style="margin:0px;font-size:14px;line-height:21px;text-align:center">
                            <a style="font-size:14px;line-height:21px;text-align:center;color:rgb(80,161,247)">
                                no-Reply@alphacredit.com
                            </a>
                            <a style="font-size:14px;line-height:21px;text-align:center;color:rgb(80,161,247)" title="email">
                            </a>
                        </div>
                    </div>
                    <div style="font-size:14px;line-height:21px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                        <p style="margin:0px;font-size:14px;line-height:21px;text-align:center">
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;background-color:transparent" width="100%">
    <tbody>
        <tr style="vertical-align:top">
            <td style="word-break:break-word;vertical-align:top;border-collapse:collapse!important" width="100%">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:500px!important;border-spacing:0px;border-collapse:collapse;vertical-align:top;max-width:500px;margin:0px auto;text-align:inherit" width="100%">
                    <tbody>
                        <tr style="vertical-align:top">
                            <td style="word-break:break-word;vertical-align:top;border-collapse:collapse!important" width="100%">
                                <table bgcolor="transparent" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;width:500px;max-width:500px;background-color:transparent" width="100%">
                                    <tbody>
                                        <tr style="vertical-align:top">
                                            <td style="word-break:break-word;vertical-align:top;text-align:center;font-size:0px;border-collapse:collapse!important">
                                                <div style="display:inline-block;vertical-align:top;width:500px">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
                                                        <tbody>
                                                            <tr style="vertical-align:top">
                                                                <td style="word-break:break-word;vertical-align:top;background-color:transparent;padding:30px 0px;border:0px solid transparent;border-collapse:collapse!important">
                                                                    <table cellpadding="0" cellspacing="0" style="border-spacing:0px;border-collapse:collapse;vertical-align:top" width="100%">
                                                                        <tbody>
                                                                            <tr style="vertical-align:top">
                                                                                <td style="word-break:break-word;vertical-align:top;padding:10px;border-collapse:collapse!important">
                                                                                    <div style="color:rgb(85,85,85);line-height:14.399999618530273px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                        <div style="font-size:12px;line-height:14px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                            <div style="margin:0px;font-size:12px;line-height:14px;text-align:center">
                                                                                                © AlphaCredit
                                                                                          Inc
                                                                                          2017
                                                                                                <span>
                                                                                                </span>
                                                                                                <br/>
                                                                                                Online
                                                                                          Lending
                                                                                          Marketplace
                                                                                                <br/>
                                                                                                Simple
                                                                                          Loans,
                                                                                          Smart
                                                                                          Investments.
                                                                                                <span>
                                                                                                </span>
                                                                                                <br>
                                                                                                </br>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div style="font-size:12px;line-height:14px;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;text-align:left">
                                                                                            <p style="margin:0px;font-size:12px;line-height:14px">
                                                                                            </p>
                                                                                        </div>
                                                                                        <div style="font-size:12px;line-height:14px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                            <div style="margin:0px;font-size:12px;line-height:14px;text-align:center">
                                                                                                If you
                                                                                          have
                                                                                          any
                                                                                          issues
                                                                                          with
                                                                                          this
                                                                                          you
                                                                                          can
                                                                                                <span>
                                                                                                </span>
                                                                                                <br>
                                                                                                </br>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div style="font-size:12px;line-height:14px;text-align:center;color:rgb(85,85,85);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                            <div style="margin:0px;font-size:12px;line-height:14px;text-align:center">
                                                                                                email
                                                                                                <span>
                                                                                                </span>
                                                                                                <span>
                                                                                                </span>
                                                                                                <span>
                                                                                                </span>
                                                                                                <a href="mailto:help@payconnect.ng" style="font-size:12px;line-height:14px;text-align:center;color:rgb(80,161,247)" target="_blank">
                                                                                                    <wbr>
                                                                                                        no-Reply@alphacredit.ng
                                                                                                    </wbr>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<img height="1" src="https://ci4.googleusercontent.com/proxy/gOfTZm8E6xjaCipAgoM-D5j1IY6XadMXEoQlHM8nMOPeso7eGZaC_tBrB1sglb8hSkYIvTyoMOS0Wv1MazF1pK12GP5ri-OOxaIaozDLH19_LL8n8hqTRHDRaIwCH8W3JZLc4x6es_VnGpY=s0-d-e1-ft#https://mandrillapp.com/track/open.php?u=30661481&id=f8cefc44e87d477d884b7c3e0f4233f6" style="font-family:Helvetica;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255)" width="1">
    <div>
    </div>
    <div>
        <span style="font-family:Helvetica;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255);float:none;display:inline!important">
        </span>
    </div>
</img>
