<div style=" width:500px; margin: 0; padding: 0 0 20px; font-family: 'Open Sans', sans-serif; box-sizing: border-box; font-size: 17px; vertical-align: top;">


  <h2 style=" font-family: 'Lato', sans-serif; margin-top:30px;">Comfirm Email</h2>

  <p  style="margin: 0; padding: 0 0 0px; font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top;">Hello</p> <br>
    <p>You've received this mail because you have signed up on <span style="font-weight: bold;">Alphacredit</span> Comfirming this address will let you receive notifications and password resets from <span style="font-weight: bold;">AlphaCredit.</span></p>


    <p style="font-family: 'Lato', sans-serif; margin-top:30px;">Your Confirmation Code is <h3>{{code}}</h3></p>

</div>
