
<!DOCTYPE html>
<html lang="en"  ng-app = "Payconnect">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <title>AlphaCredit | BackOffice</title>

  <style scoped>

         .button-success
                  {
            color: white;
            border-radius: 4px;
            width: 200px;
            height: 40px;
            font-weight: 10px;
            font-style: bold;
            margin-left: 40%;
            margin-right: 40%;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }



        .middle {

            margin-left: 23%;
            margin-right: 20%;
            margin-top: 10%;
            color:#b2b4b7;
            font-size: 20px;
            align-self: center;
        }

    </style>

</head>

<body>

           <% if(name.length > 0){ %>


                         <p class="middle"> Hi <strong><%= name %> !</strong>  </p>

                    <% } %>





        <p class="middle"> Kindly Tokenize your card or bank account to complete your loan process </p>

<form >
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <button  class="button-success" type="button" onclick="payWithPaystack()"> Tokenize </button>
  <input type="hidden" id="Id" value="<%= Id %>">
  <input type="hidden" id="name" value="<%= name %>">
  <input type="hidden" id="email" value="<%= email %>">
  <input type="hidden" id="phone" value="<%= phone %>">
</form>

<script>
    var name  = document.getElementById('name').value
    var Id    = document.getElementById('Id').value
    var email = document.getElementById('email').value
    var phone = document.getElementById('phone').value

  function payWithPaystack(){
    var handler = PaystackPop.setup({
      key: 'pk_live_abe93f19793c2bbeaf1d5260359b7223a862aa23',
      //key: "pk_test_499bb74f3666ed62f5eb610439f99872a0d7f094",
      email: email,
      amount: 10100,
      ref: Id ,
      metadata: {
         custom_fields: [
            {
                display_name: name
            }
         ]
      },
      callback: function(response){

             success =  {
                 phone:phone,
                 Name :name,
                 Email:email,
                 ref  :response.trxref
                  };
       console.log(response);

         $.post("http://app.payconnect.ng/verify", success, function(data, status){

         console.log(data);
         console.log(status);

          if (data.status == false) {

           window.location.href = '/payfailed/'+Id;

          }else{

         window.location.href = '/paysuccess/'+Id;

          }


    });

         //alert('success. transaction ref is ' + response.reference);
      },
      onClose: function(){

      }
    });
    handler.openIframe();
  }
</script>

</body>
</html>
