<div style=" width:500px; margin: 0; padding: 0 0 20px; font-family: 'Open Sans', sans-serif; box-sizing: border-box; font-size: 17px; vertical-align: top;">

<p  style="margin: 0; padding: 0 0 0px; font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top;">Hello {{name}}</p> <br>
<p>Your withdrawal of  <span style="font-weight: bold;">₦{{amount}}</span> has been completed<span style="font-weight: bold;"></span></p>

</div>
