<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Alphacredit - User Data</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/user-data-pdf.css">
</head>

<body>
	<body>
		<section>
			<h1 style="background: #565656"><%= title %></h1>

			<div class="contentform user-details">

				<div class="segments">
					<h3>Personal Information</h3>
					<div>
						<p>First Name: <span><%= user.firstname %></span></p>
					</div>

					<div>
						<p>Last Name: <span><%= user.lastname %></span></p>
					</div>

					<div>
						<p>Middle Name: <span><%= user.middlename %></span></p>
					</div>

					<div>
						<p>Email: <span><%= user.email %></span></p>
					</div>

					<div>
						<p>Phone: <span><%= user.phone %></span></p>
					</div>

					<div>
						<p>Gender: <span><%= user.gender %></span></p>
					</div>

					<div>
						<p>DoB: <span><%= user.dob %></span></p>
					</div>

					<!-- <div>
						<p>Marital Status: <span><%= user.marital_status %></span></p>
					</div> -->

					<div>
						<p>Address: <span><%= user.address %></span></p>
					</div>

					<div>
						<p>Location: <span><%= user.location %></span></p>
					</div>

					<!-- <div>
						<p>Type of Home: <span><%= user.type_of_home %></span></p>
					</div> -->
				</div>

				<div class="segments">
					<h3>Bank Details</h3>
					<div>
						<p>Account Name: <span><%= user.account_name %></span></p>
					</div>

					<div>
						<p>Account Numbaer: <span><%= user.account_number %></span></p>
					</div>

					<div>
						<p>Bank Name: <span><%= user.bank_name %></span></p>
					</div>
				</div>

				<div class="segments">
					<h3>Employment Information</h3>
					<div>
						<p>Employer: <span><%= user.employer %></span></p>
					</div>

					<div>
						<p>Employee Status: <span><%= user.employee_status %></span></p>
					</div>

					<!-- <div>
						<p>Experience: <span><%= user.experience %></span></p>
					</div> -->

					<!-- <div>
						<p>Qualification: <span><%= user.qualification %></span></p>
					</div> -->

					<div>
						<p>Monthly Income: <span><%= user.monthly_net_income %></span></p>
					</div>

					<!-- <div>
						<p>Dependants: <span><%= user.deppendants %></span></p>
					</div> -->
				</div>
			</div>
		</section>
	</body>
	</html>
</body>
</html>
