<nav class="gn-menu-wrapper" ng-controller="sidebarCtrl">
    <div class="gn-scroller scrollbar1">
        <ul class="gn-menu agile_menu_drop">
            <li ng-class="{active: isActive('/')}"><a href="#/"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
            
            <li>
                <span class="sub-menu-title"><i class="fa fa-list"></i> Loans</span>
                <!-- <a href="#/loan"><i class="fa fa-list"></i> Loans</a> -->
                <ul class="sub-menu">
                    <li ng-class="{active: isActive('/loans/pending')}"><a href="#/loans/pending">Pending</a></li>
                    <li ng-class="{active: isActive('/loans/no-doc')}"><a href="#/loans/no-doc">No Doc</a></li>
                    <li ng-class="{active: isActive('/loans/approved')}"><a href="#/loans/approved">Approved</a></li>
                    <li ng-class="{active: isActive('/loans/declined')}"><a href="#/loans/declined">Declined</a></li>

                    <li ng-class="{active: isActive('/loans/accepted')}"><a href="#/loans/accepted">Accepted</a></li>
                    <li ng-class="{active: isActive('/loans/rejected')}"><a href="#/loans/rejected">Rejected</a></li>
                    <li ng-class="{active: isActive('/loans/outstanding')}"><a href="#/loans/outstanding">Outstanding</a></li>

                    <li ng-class="{active: isActive('/loans/completed')}"><a href="#/loans/completed">Completed</a></li>
                </ul>
            </li>

            <li>
                <span class="sub-menu-title"><i class="fa fa-list"></i> Withdrawals</span>
                <!-- <a href="#/loan"><i class="fa fa-list"></i> Loans</a> -->
                <ul class="sub-menu">
                    <li ng-class="{active: isActive('/withdrawals/pending')}"><a href="#/withdrawals/pending">Pending</a></li>
                    <li ng-class="{active: isActive('/withdrawals/paidout')}"><a href="#/withdrawals/paidout">PaidOut</a></li>
                    <li ng-class="{active: isActive('/withdrawals/declined')}"><a href="#/withdrawals/declined">Declined</a></li>
                </ul>
            </li>

            <li ng-class="{active: isActive('/employers')}">
            <a href="#/employers"> <i class="fa fa-users"></i> Employers</a> 
            </li>
          <!--   <li ng-class="{active: isActive('/transaction')}"><a href="#/transaction"> <i class="fa fa-list-ol"></i> Transactions</a></li>
            <li ng-class="{active: isActive('/investment')}"><a href="#/investment"> <i class="fa fa-thumbs-up"></i> Investments</a></li> -->
           
            <li ng-class="{active: isActive('/members')}"><a href="#/members"> <i class="fa fa-users"></i> Members</a></li>
             <li ng-class="{active: isActive('/Borrowers')}"><a href="#/Borrowers"> <i class="fa fa-calculator"></i> Borrowers</a></li>
              <li ng-class="{active: isActive('/Lenders')}"><a href="#/Lenders"> <i class="fa fa-bank"></i> Lenders</a></li>
          
            <li ng-class="{active: isActive('/logout')}"><a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </div><!-- /gn-scroller -->
</nav>

<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!-- script-for-menu -->